::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background-color: darkslategray;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Shrink scrollbars on small screens */
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
